.place-order {
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 8vh;
    justify-content: space-between;
    align-items: start;
}

.place-order-left {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.place-order-left h2 {
    font-size: max(2.9vh, 1.8rem);
}

.order-grid-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1vh;
    width: max(28vw, 32rem);
    height: max(32vh, 25rem);
}

#delivery-email-input {
    grid-area: 2 / 1 / 3 / 3;
}

#street-input {
    grid-area: 3 / 1 / 4 / 3
}

#phone-input {
    grid-area: 6 / 1 / 7 / 3
}

.order-grid-area input {
    padding: 0.9rem;
}

.place-order-right .cart-total h3 {
    font-size: max(2.9vh, 1.8rem);
}




