.listitem-container {
    margin: 6vh;
}

.listitem-container h4 {
    font-size: 2vh;
    margin-bottom: 2.0vh;
    color: gray;
    font-weight: 600;
}

.listitem-grid {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
}

.listitem-names {
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr 2fr 1.5fr;
    align-items: center;
    border: 2px solid hsl(0, 0%, 80%);
    padding: 2.5rem;
    background-color: hsl(0, 0%, 93%);
}

.listitem-names p {
    font-weight: 600;
    color: gray;
    font-size: 1.8vh;
}

.listitem-row {
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr 2fr 1.5fr;
    align-items: center;
    border: 1.5px solid hsl(0, 0%, 80%);
    padding: 2.5rem;
}

.listitem-row p {
    color: gray;
    font-size: 1.8vh;
}

.listitem-row img {
    width: 6vw;
    height: 10vh;
    object-fit: cover;
}

.food-dish-remove-x {
    cursor: pointer;
}